/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set background color and font styles */
body {
    background-color: #f2f2f2;
    font-family: monospace;
}

/* Style the heading */
h3 {
    color: #000000;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the paragraph */
p {
    color: #000000;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Style the button */
button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding around text */
    text-align: center; /* Center-aligned text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    transition-duration: 0.4s; /* Transition effect when hovering over the button */
}

/* Change the background color when hovering over the button */
button:hover {
    background-color: #45a049;
}

/* Style the table */
table {
    width: 100%; /* Make table take up the full width */
    border-collapse: collapse; /* Collapse borders */
    font-family: monospace;
}

/* Style the table header */
th {
    background-color: #f2f2f2; /* Light grey background */
    color: black; /* Black text color */
    font-family: monospace;
    text-align: left; /* Left-aligned text */
    padding: 8px; /* Padding around text */
}

/* Style the table cells */
td {
    border: 1px solid #ddd; /* Light grey border */
    font-family: monospace;
    padding: 8px; /* Padding around text */
}

/* Add a hover effect to table rows */
tr:hover {background-color: #8d8c8a;}

/* Add some padding and border to a container */
.container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}